/********************************/
/*********** GENERAL ***********/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font: 400;
    line-height: 1.5em;
    color: ;
}

p {
    font-size: ;
    margin-bottom: ;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font: 400;
    font-size: 1.3em;
    color: darkslateblue;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkslateblue;
}

/*******************************/
/****** NAVIGATION/HEADER *****/

.nav-bar {
    background: dimgray;
}

.logo {
    width: 250px;
}

.nav-buttons,
.nav-buttons li {
    /* background-color: azure; /* temporary */
    text-align: center;
    padding-right: 15px;
}

.nav-buttons li {
    margin-right: 12px;
    list-style: none;
}

.logo a,
.nav-buttons a {
    padding: 10px 15px;
    display: block;
}

/******************************/
/********** CONTENT **********/

.main-img {
    width: 100%;
}

.contact li {
    list-style: none;
    margin-left: -45px;
    padding: 5px;
}

.col {
    padding-right: 1em;
    padding-left: 1em;
}

.contact {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*******************************/
/*********** FOOTER ***********/

.main-footer {
    text-align: center; 
    background-color: dimgrey;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*****************************/
/******* MEDIA QUERIES ******/

@media (min-width: 769px) {
    .wrap {
        min-height: calc(100vh - 70px);
    }
    
    .container {
    width: 100%;
    margin: 0 auto;
    }
    
    .logo {
        float: left;
    }
    
    .nav-buttons {
        float: right;
    }
    
    .nav-buttons li {
        float: left;
        margin-left: 12px;
    }
    
    /* ---- columns ---- */
    
    .col {
        float: left;
        padding-left: 1em; /* 1em */
        padding-right: 1em; /* 1em */
    }
    
    .about {
        width: 70%; /* in percentages that both columns will equal 100% */
    }
    
    .contact {
        width: 30%; /* in percentages that both columns will equal 100% */
    }
    
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
    }

}